In [6]:
import sys
sys.path

['/usr/lib/python311.zip',
 '/usr/lib/python3.11',
 '/usr/lib/python3.11/lib-dynload',
 '',
 '/home/lst_ubuntu/projects/ai-expense-manager/ai-expense-venv/lib/python3.11/site-packages']

In [1]:
import os
print(os.getcwd())

/home/lst_ubuntu/projects/ai-expense-manager/notebooks

In [2]:
import os
os.chdir("..")  # Go to project root

In [3]:
from expense_manager.utils.csv_loader import load_and_prepare_csv

df = load_and_prepare_csv("data/sample_expense.csv")
df.head()

        Date       Category   Amount            Notes    Month
0 2025-05-16            EMI  3851.75         Recharge      May
1 2025-01-26            EMI  3513.20      Petrol pump  January
2 2025-04-22           Rent   580.23     Doctor visit    April
3 2025-03-13            Gym  3085.50         Flipkart    March
4 2025-06-13  Subscriptions   157.94  Amazon purchase     June